ENVIRONMENT=DEV #DEV | PROD | TEST
BACKEND_CORS_ORIGINS=[http://test-ip:3000]

DB_HOST=ip_to_your_db
DB_NAME=name_of_db
DB_USER=name_of_db_user
DB_PASSWORD=password_for_your_db_user
DB_PORT=connection_port_for_your_db
DB_SLAVE_HOSTS=[ip_to_your_read_dbs]
DB_SLAVE_PORTS=[ports_to_your_read_dbs]

SECRET_KEY=random_key_to_hash_jwt
JWT_TOKEN_ACCESS_LIFETIME_MINUTES=15
JWT_TOKEN_REFRESH_LIFETIME_DAYS=1
